{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Accueil
{% endblock %}

{% block body %}
	<header class="flex justify-center items-center bg-gradient-to-r from-blue-500 to-purple-500" style="height: 95vh;">
		<div class="text-center">
			<h1 class="text-6xl font-bold text-white">SnowTricks</h1>
			<p class="text-xl font-light text-gray-300">Trouvez vos figures de snowboard</p>
		</div>
		<div id="btn-drop-section" class="absolute bottom-10">
			<a href="#trick-container" class="text-2xl text-white hover:text-gray-300">
				<i class="bi bi-arrow-down-short"></i>
			</a>
		</div>
	</header>
	<section class="flex flex-col m-4">
		<div id="trick-container" class="flex flex-wrap justify-center gap-4">
			<h2 class="text-3xl font-bold text-center w-full">Les figures</h2>
{{ include('home/_trickList_partial.html.twig') }}

		</div>
		<div class="text-center mt-4">
			<button id="load-more" data-offset="{{ offset }}" class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded shadow-lg hover:shadow-xl transition duration-300">
				Charger plus
			</button>
		</div>
	</section>
	{% verbatim %}
		<script>
			$(document).ready(function () {
if (document.getElementById("load-more")) {

const loadBtn = document.getElementById("load-more");
let offset = parseInt(loadBtn.dataset.offset, 10);

loadBtn.addEventListener("click", function (e) {
e.preventDefault();
const container = $("#trick-container");
offset = parseInt(loadBtn.dataset.offset, 10);

let request = new XMLHttpRequest();
request.open("GET", "/nextTricks/" + offset);
request.responseType = "text";
request.send();
loadBtn.innerHTML = "Chargement...";
request.onload = function () {
loadBtn.innerHTML = "Charger plus";
let $html = request.response;

if ($html.length === 0) {
loadBtn.remove();
} else {
container.append($html);
loadBtn.dataset.offset = (offset + 8).toString();
}
}
});
}
});
		</script>
	{% endverbatim %}

{% endblock %}
