{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Accueil{% endblock %}

{% block body %}
    <header class="flex justify-center items-center bg-cover bg-center" 
            style="background-image: url({{ asset('assets/heroBanner.jpg') }}); height: 95vh;">
        <div class="text-center">
            <h1 class="text-4xl font-bold">SnowTricks</h1>
            <p class="text-lg font-normal">Trouvez vos figures de snowboard</p>
        </div>
        <div id="btn-drop-section" class="absolute bottom-10">
            <a href="#trick-container" class="text-white text-3xl">
                <i class="bi bi-arrow-down-short"></i>
            </a>
        </div>
    </header>
    <section class="flex flex-col m-4">
        <div id="trick-container" class="flex flex-wrap justify-center">
            {{ include('home/_trickList_partial.html.twig') }}
        </div>
        <div class="text-center mt-4">
            <button id="load-more" data-offset="{{ offset }}" class="btn btn-primary px-5">
                Charger plus
            </button>
        </div>
    </section>
{% endblock %}
