{{ form_row(form.pictureName) }}
{{ form_row(form.file) }}
<div class="form-group">
	<button type="button" class="btn btn-danger btn-remove ml-1 px-4 py-2 shadow-sm">
    <i class="fas fa-trash-alt"></i> Supprimer
</button>
</div>

