{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Accueil
{% endblock %}

{% block body %}
	<section class="flex flex-col m-4">
		<div id="trick-container" class="flex flex-wrap justify-center gap-4">
			<h2 class="text-3xl font-bold text-center w-full">Toutes les figures</h2>
			{{ include('home/_trickList_partial.html.twig') }}
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('loadMoreTricks') }}

{% endblock %}

