{% extends 'base.html.twig' %}

{% block title %}Nouveau Trick
{% endblock %}

{% block body %}
	<div class="flex justify-center mt-5">

		<div class="w-full max-w-2xl p-6 shadow-lg bg-white">
			<h1 class="text-2xl font-bold mb-5 text-center">Créer un nouveau Trick</h1>
			{{ include('trick/_form.html.twig') }}

			<a class="inline-block mt-4 px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700" href="{{ path('app_trick_index') }}">
				Retour à la liste
			</a>
		</div>
	</div>
{% endblock %}

